// World styles

//// Page
.Page {
    padding: 0;
    margin: 0;

    font-family: $basicFont;
    font-style: normal;
    font-size: 15px;
    font-weight: $normal;

    color: $mainBlack;
    
    min-width: 260px;
}

//// Body
.Body {
    padding: 0;
    margin: 0;

    font: inherit;
    color: inherit;
}

//// Main
.Main {
    padding: 0;
    margin: 0px;

    font: inherit;
    color: inherit;
}

//// Box-sizing
*, *::before, *::after {
    box-sizing: border-box;
}

//// Images
img {
    max-width: 100%;
    height: auto;
}

//// VisuallyHidden
.VisuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}