//// Width Helper
// Mobile
@media (min-width: $mobile) and (max-width: 767px) {
}
// Tablet
@media (min-width: $tablet) and (max-width: 1149px) {
}
// Desktop
@media (min-width: $desktop) {
}


//// Footer Styles
.Footer {
    width: 100%;
    background-color: $mainLightGray;
    // Mobile
    @media (min-width: $mobile) and (max-width: 767px) {
        padding-top: 25px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 23px;
    }

    // Tablet
    @media (min-width: $tablet) and (max-width: 1149px) {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 58px;
    }
    // Desktop
    @media (min-width: $desktop) {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 58px;        
    }    
}
    //// Footer Wrapper
    .Footer-Wrapper {
        display: flex;

        // Mobile
        @media (min-width: $mobile) and (max-width: 767px) {
            flex-direction: column;
            align-items: center;

            min-width: 260px;

            margin: 0 auto;
        }

        // Tablet
        @media (min-width: $tablet) and (max-width: 1149px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        // Desktop
        @media (min-width: $desktop) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }    
    }

        //// Footer Logo
        .Footer-Logo {
            // Mobile
            @media (min-width: $mobile) and (max-width: 767px) {
                display: none;
            }

            // Tablet
            @media (min-width: $tablet) and (max-width: 1149px) {
            }
            // Desktop
            @media (min-width: $desktop) {

            }    
        }    

        //// Footer Social List
        .Footer-Social {
            // Mobile
            @media (min-width: $mobile) and (max-width: 767px) {
            }
            // Tablet
            @media (min-width: $tablet) and (max-width: 1149px) {
            }
            // Desktop
            @media (min-width: $desktop) {
            }    
        }    


        //// Copyright
        .Footer-Copyright{
            margin: 0;
            padding: 0;

            display: flex;
            align-items: center;

            text-decoration: none;

            font-family: $basicFont;
            font-style: normal;
            font-weight: $bold;
            
            font-size: 19px;
            line-height: 18px;

            color: $mainBlack;     
            
            
            //// Actions
            &:hover, &:focus {
                opacity: 0.6;
            }
            &:active {
                opacity: 0.3;
            }            

            // Mobile
            @media (min-width: $mobile) and (max-width: 767px) {

            }

            // Tablet
            @media (min-width: $tablet) and (max-width: 1149px) {

            }
            // Desktop
            @media (min-width: $desktop) {
                
            }    
        }    
            //// Copyright Text
            .Footer-CopyrightText{
                margin: 0;
                padding: 0;

                font: inherit;
                color: inherit;

                margin-right: 27px;

                // Mobile
                @media (min-width: $mobile) and (max-width: 767px) {

                }

                // Tablet
                @media (min-width: $tablet) and (max-width: 1149px) {

                }
                // Desktop
                @media (min-width: $desktop) {
                    
                }    
            }        

            //// Copyright Ico
            .Footer-CopyrightIco{
                margin: 0;
                padding: 0;

                width: 27px;
                height: 34px;

                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-image: url("../../../img/svg/Footer-CopyrightIco.svg");


                // Mobile
                @media (min-width: $mobile) and (max-width: 767px) {

                }

                // Tablet
                @media (min-width: $tablet) and (max-width: 1149px) {

                }
                // Desktop
                @media (min-width: $desktop) {
                    
                }    
            }                  

